<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven />
	
		<!-- dataosurce properties -->
	<import resource="../database/DataSource.xml"/>
	
	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.refugioanimal.domain.model.AboutUs</value>
				<value>com.refugioanimal.domain.model.EventInfo</value>
				<value>com.refugioanimal.domain.model.Pet</value>
				<value>com.refugioanimal.domain.model.PetType</value>
				<value>com.refugioanimal.domain.model.Size</value>
				<value>com.refugioanimal.domain.model.Species</value>
				<value>com.refugioanimal.domain.model.Status</value>
				<value>com.refugioanimal.domain.model.User</value>
			</list>
		</property>
   		<property name="packagesToScan" value="com.refugioanimal.domain.model" />
		<property name="hibernateProperties">
			<props>
				<!-- SQL dialect -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				 <!-- Enable Hibernate's automatic session context management -->
        		<prop key="hibernate.current_session_context_class">thread</prop>
        		<!-- Echo all executed SQL to stdout -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- Drop and re-create the database schema on startup -->
<!--         		<prop key="hbm2ddl.auto">create</prop> -->
   				<prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.use_sql_comments">true</prop>
<!--                 <prop key="hibernate.hbm2ddl.auto">validate</prop> -->
			</props>
		</property>
	</bean>

	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"
        id="PersistenceExceptionTranslator" />

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>

</beans>
